<html>
<head>
  <style>
    .event-container {
      background-color: powderblue;

    }

    body {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-style: normal;

    }

    h1, h2, h3, h4, h5 {
      font-family: "Satisfy", cursive;
      color: #000000;
    }
  </style>
</head>
<body>
<ul>
<div class = "event-container">
  <h1>{{events.name}}</h1>
</div>
<div class = "event-container"><b>Event Category:</b> {{events.category}}</div>
<div class = "event-container"><b>Event Description:</b> {{events.description}}</div>
<div class = "event-container"><b>Event Venue:</b> {{events.location}}</div>
<div class = "event-container"><b>Event Time:</b> {{events.time}}</div>
<div class = "event-container"><b>Number of Attendees:</b> {{numppl}}</div>

<form method = "POST" action = "/rsvp-post/{{events.eid}}">
  <button class="line_btn">RSVP</button>
</form>
<form method = "POST" action = "/reject-post/{{events.eid}}">
  <button class="line_btn">Reject</button>
</form>

</ul>
</body>
</html>
